.ui.small.modal {
    text-align: center;
    width: 80%;
}
.ui.active.dimmer {
    background-color: #22304f;
}
.title {
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: .8rem;
}
.message {
    font-size: 1rem;
    line-height: 1.5;
}