.addr-container {
    font-size: 24px;
    color: #FFFFFF;
    line-height: 1.5;
    margin-top: 100px;
}

.primary-link,
.primary-link:hover {
    color: #DE3C4B;
    cursor: pointer;
    text-decoration: none;
}

.addr-container > div:not(:first-child) {
    margin-top: 30px;
}