.ui.form .field > label {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: .5em;
    vertical-align: super;
    color: #FFFFFF;
}

.ui.form .required.field > label:after,
.ui.checkbox input.hidden+label {
    color: #FFFFFF;
}

.ui.form input,
.ui.selection.dropdown,
.ui.form textarea {
    border-radius: 0px !important;
}

.ui.form .field.form-break,
.ui.form .fields.form-break {
    margin-top: 50px;
}

.ui.button.contact-send {
    background-color: rgb(222, 60, 75);
    border: 3px solid transparent;
    color: rgb(255, 255, 255);
    cursor: not-allowed;
    opacity: 0.6;
    font-size: 17px;
    font-weight: 300;
    height: auto;
    margin-top: 5px;
    margin-bottom: 35px;
    padding: 20px 26px;
    float: right;
    border-radius: 0px;
}

.ui.button.contact-send.allow {
    opacity: 1;
    cursor: pointer;
}

.contact-form-link,
.contact-form-link:hover {
    cursor: pointer;
    text-decoration: none;
    color: #de3c4b;
}