.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 1195px;
    margin-left: auto!important;
    margin-right: auto!important;
}
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

div.body-container {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  align-items: center;
}
