body {
  margin: 0;
  font-family: CalibreWeb, sans-serif;
  background-color: #22304f;
}

body,
button,
input,
textarea {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}
